/* NAV */
nav{
    /* background: var(--mainBrand) !important; */
    color: #000;
    border: orange 3px solid;
}
    /* light texts for inactive tabs */
    .nav-link{
        color: var(--searchColor) !important;
    }
