/* IMPORTED FONTS */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

/* variable colors */
:root{
	/* color pallete */
	--mainBrand: #016A70;
	--darkAccent:#647A78;
	--lightAccent: #7FA9AD;
	--darkShades: #202A21;
	--lightShades: #FFFFDD;

	/* others */
	--searchTextColor: #e7e7e7;
	--headColor: #ffc861;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
	/* font-family: "Helvetica", sans-serif; */
	
}