/* CATEG FILTER */
.filter-item{
    flex: 1;
}
.filter-item span{
    width: 2.5rem;
}
.filter-h{
    height: 15rem;
    font-size: 1.5rem;
    font-weight: 800;
	font-family: "Freeman", sans-serif;
}
/* animate background */
#all-crop-link{
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
	
    background-color: rgb(177, 177, 177); /* Set a background color to blend with */
	background-blend-mode: multiply; /* Experiment with other blend modes */
}
#corn-link, #rice-link, #root-link{
    background-size: cover;
    background-position: center;
    background-color: rgb(177, 177, 177); /* Set a background color to blend with */
	background-blend-mode: multiply; /* Experiment with other blend modes */
}
#corn-link{
    background-image: url('https://images.unsplash.com/photo-1584394950111-746f285f7487?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#rice-link{
    background-image: url('https://images.unsplash.com/photo-1613045935265-265ff612e0e2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
#root-link{
    background-image: url('https://images.unsplash.com/photo-1518977676601-b53f82aba655?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

#all-crop-link:hover, #corn-link:hover, #rice-link:hover, #root-link:hover{
    opacity: 0.5;
}

/* crop links */
#links-container{
    height: 30rem;
}

/* FILTER BAR */
/* category links */
.bar-filter-categ:hover{
    border-bottom: 5px rgb(184, 184, 184) solid !important;
}
.bar-filter-categ:active{
    background: #e7e7e7;
}

.categ-link-img{
    width: 1.5rem;
    object-fit: cover;
}

/* FILTER SIDE */
#side-filter-container{
    max-height: 75vh;
}
#side-filter{
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.chevron-dropdown-btn{
    transition: transform 0.2s ease-in-out;
}

.rotate-chevron {
    transform: rotate(-90deg) translateX(-6px) translateY(8px);
}

/* LIST */
#crop-list-container{
    max-height: 75vh;
}
#crop-list-table{
    max-height: 100%;
    
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#crop-list-map{
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#mapList{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* MAP */
#view-type-button, #map-toggler{
    height: clamp(3rem, 5rem, 8rem);
}