.categ-card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categ-card-icon{
    width: 1.5rem;
}

/* FILTER BAR */
/* category links */
.bar-filter-categ:hover{
    border-bottom: 5px rgb(184, 184, 184) solid !important;
}
.bar-filter-categ:active{
    background: #e7e7e7;
}

.categ-link-img{
    width: 1.2rem;
    object-fit: cover;
}

/* FILTER SIDE */
#side-filter-container{
    max-height: 75vh;
}
#side-filter{
    max-height: 100%;
}

.chevron-dropdown-btn{
    transition: transform 0.2s ease-in-out;
}

.rotate-chevron {
    transform: rotate(-90deg) translateX(-6px) translateY(8px);
}

/* LIST */
#crop-list-container{
    max-height: 75vh;
}
#crop-list-table, #crop-list-grid{
    max-height: 100%;
}
#crop-list-map{
    height: 75vh;
}
/* TABLE */
/* GRID */
#crop-list-grid{
    cursor: pointer;
}
    #crop-list-grid .card:hover{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
/* MAP */
#map-toggler{
    width: 10rem;
    left: 50%;
    transform: translateX(-50%);
}