/* FONTS */

/* search */
#search-btn, #filter-trigger{
    border-color: rgb(218, 218, 218);
}

/* filter */
#close-filter-btn{
    right: 1rem;
}
/* fitler crop */
.filter-crop-type:hover{
    box-shadow: inset 10px 0px 72px -10px rgba(82,82,82,0.72) !important;
    cursor: pointer !important;
}
/* filter title */
.filter-title{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

/* crop list */
.list-head{
    font-family: "Montserrat", sans-serif;
}
#crop-list-tbody tr{
    cursor: pointer ;
}

/* map */
#map{
    min-height: 700px;
}

/* legend */
.legend-ico{
    width: 1rem;
}





/* view-crop-image */
.view-crop-image{
    max-width: 5rem;
    aspect-ratio: 1/1;
}