/* #carousel-container{
    max-height: 500px
} */
	/* carousel */
	/* .carousel-image {
		
		filter: brightness(65%);
		height: 120vw;
		max-height: 500px;
		background-blend-mode: multiply;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	} */
		/* caption */
		/* .carousel-caption h5{
			font-size: 3em;
			color: var(--headColor);
			font-family: 'Pacifico', cursive;
		} */
/* CAROUSEL */
#carousel{
    max-height: 500px;
}
    .carousel-img{
        height: 500px;
        object-fit: cover;
    }
    .carousel-item {
    transition: transform 0.6s ease;
    }

/* SYSTEM LINKS */
.sys-link-img{
    height: 200px;
    object-fit: cover;
}






/* search */
#search-btn, #filter-trigger{
    border-color: rgb(218, 218, 218);
}

/* filter */
#close-filter-btn{
    right: 1rem;
}
/* fitler crop */
.filter-crop-type:hover{
    box-shadow: inset 10px 0px 72px -10px rgba(82,82,82,0.72) !important;
    cursor: pointer !important;
}
/* filter title */
.filter-title{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

/* crop list */
.list-head{
    font-family: "Montserrat", sans-serif;
}
#crop-list-tbody tr{
    cursor: pointer ;
}

/* map */
#map{
    min-height: 700px;
}

/* legend */
.legend-ico{
    width: 1rem;
}





/* view-crop-image */
.view-crop-image{
    max-width: 5rem;
    aspect-ratio: 1/1;
}