/* FILTER */
.chevron-dropdown-btn{
  transition: transform 0.2s ease-in-out;
}

.rotate-chevron {
  transform: rotate(-90deg) translateX(-6px) translateY(8px);
}

/* TABLE */

/* add button */
#add-crop-btn{
  background: var(--mainBrand);
  border: none;
}
  #add-crop-btn:hover{
    background: #068c93;
  }

/* small-font 0.8rem */
.small-font{
  font-size: 0.8rem;
}

/* td */
th, td {
  vertical-align: middle;
}


/* table head */
.thead-item{
  color: white;
}

/* remarks */
.remarks-btn{
    border: 1px solid transparent !important;
    cursor: pointer;
}
.remarks-btn:hover{
    border: 1px solid #ccc !important;
}

/* text align end */
/* ellipsis icon */
  .action-btn{
    border: 1px solid transparent !important;
    cursor: pointer;
  }
  .action-btn:hover {
    border: 1px solid #ccc !important;
  }

/* row action btns */
.row-action-btn:after{
  display: none;
}



/* remarks */
/* remarks-menu */
.remarks-menu{
  width: 200px !important;
}