/* FILTER */
.chevron-dropdown-btn{
  transition: transform 0.2s ease-in-out;
}

.rotate-chevron {
  transform: rotate(-90deg) translateX(-6px) translateY(8px);
}

/* TABLE */

/* add button */
#add-crop-btn{
  background: var(--mainBrand);
  border: none;
}
  #add-crop-btn:hover{
    background: #068c93;
  }

/* small-font 0.8rem */
.small-font{
  font-size: 0.8rem;
}

/* td */
th, td {
  vertical-align: middle;
}


/* table head */
.thead-item{
  color: white;
}

/* remarks */
.remarks-btn{
    border: 1px solid transparent !important;
    cursor: pointer;
}
.remarks-btn:hover{
    border: 1px solid #ccc !important;
}

/* text align end */
/* ellipsis icon */
  i.fa-solid.fa-ellipsis-vertical.btn:hover {
    border: 1px solid #ccc;
  }

/* user group bg colors */
.self{
  background: #af98f4;
}
.indiv{
  background: #ffdb9a;
}
.org{
  background: #a9b9ff;
}